<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zamowienia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="parentDiv">
    <div class="childDiv"> -->
      <ion-list [inset]="true"  *ngFor="let order of orders; let i = index">
        
        <ion-item-sliding>
          <ion-item>
            <ion-label class="subject">
              
              <div class="item-1 item">
                <h2>{{order.name}} {{order.surname}}</h2>
              </div>
              <div class="item-2 item" *ngIf="order.first; else orderFalse">
                Danie I:
                <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
            </div>
              <div class="item-3 item">{{order.className}}</div>
              <div class="item-4 item" *ngIf="order.second; else orderFalse2">
                Danie II:
                <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
            </div>
              <div class="item">{{order.timeStamp}}</div>

              
            <ng-template #orderFalse>
                <div class="item-2 item">
                    Danie II:
                    <ion-icon name="close-circle-outline" color="danger"></ion-icon>
                </div>
            </ng-template>
            <ng-template #orderFalse2>
              <div class="item-4 item">
                  Danie II:
                  <ion-icon name="close-circle-outline" color="danger"></ion-icon>
              </div>
          </ng-template>
            
            </ion-label>
          </ion-item>
          <ion-item-options slot="end">
            <ion-item-option color="danger" expandable="true">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>


      </ion-list>
      

    <!-- </div>
  </div> -->
</ion-content>
